/* basic formatting for the entire page */
html, body
{
  height: 100%;
  width: 100%;
  margin: 0;
}

/* font styling */ 
p {
  font-family: handwriting;
  font-size: 13px;
  color: yellowgreen;
  text-shadow: 1px 1px 2px black;
}

h1 {
  font-size: 40px;
  color: blue;
}

h2 {
  font-family: voicecrack;
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  font-family: flipside;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}

ul {
  list-style-image: url(../images/icons/disc.gif)
}

.caption {
  font-family: handwriting;
  font-size: 10px;
}

@font-face {
  font-family: handwriting;
  src: url(../fonts/handwriting.otf)
}

@font-face {
  font-family: voicecrack;
  src: url(../fonts/voicecrack.ttf)
}

@font-face {
  font-family: flipside;
  src: url(../fonts/flipside.ttf)
}

/* end font styling */

/* flexbox to hold the main page content */
.main {
  display: flex;
  background-color: black;
  position: fixed;
  bottom: 0;
  left: 10;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

/* styling for the main two columns */
.main .skeleton {
  background-color: white;
  margin: 5px;
  padding: 20px;
  overflow-x: hidden;
  display: inline-block;
  overflow-y: hidden;
  
}

/* makes the left column wider than the right one, excludes grid children */
.main .skeleton:nth-child(1):not(.one) {
  width: 70%;
}

.main .skeleton:nth-child(2):not(.two) {
  width: 30%;
}

/* grid */
 .grid-container {
  height: 95%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 40px;
  background-color: black;
  
}

/* styles divs inside the grid container */
.grid-container > div {
  /*background-color: gray;*/
  background-image: url(../images/panel_about2.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 10px;
  overflow-y: hidden;
  overflow-x: hidden;
  min-width: 30vh;
   max-height: 50vh;
}

/* scrolling fade gradient */
.innerflexitem {
   -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);
  mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);
}

/* first container ("who runs this thing anyway?") */
.grid-container .one {
  transform: rotate(-2deg);
  grid-area: 1 / 1 / span 1 / span 3;
  min-height: 40vh;
  max-width: 80vh;
  max-height: 40vh;

}

/* second container ("about the site") */
.grid-container .two {
  transform: rotate(1deg);
  grid-area: 2 / 2 / span 1 / span 3;
  max-width: 80vh;
  max-height: 40vh;
}

/* forces other two containers to have no background image (note to self: try to find a way that doesnt involve using !important but this works fine for now */
.three, .four {
  background-image: none !important;
  background-color: transparent;
}

/* snapshot of old site in 'history' section */
iframe {
  width: 100%;
}

/* button styling */
button {
  background-color: black;
  color: white;
  font-size: 10px;
}

button:hover {
  cursor: pointer;
}

.funfact {
  margin: auto;
  display: block;
}

.ow {
  background-color: black;
  color: white;
  font-size: 10px;
  display: inline;
}

/* places the back button at the top left corner of the screen, also places it in front of everything */
.backbutton {
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
}

/* flex container to go inside grid containers */
.innerflex {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.innerflex > .innerflexitem {
  background-color: transparent;
  width: 100%;
}

.innerflexitem:nth-child(2) {
  max-height: 30vh;
  overflow-y: scroll;
  overflow-x: hidden;
}


/* quiz results box */
.quizresults {
  width: 90%;
  height: 10vh;
  border: 2px solid black;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* cliques and fanlistings box */

.cliques {
  width: 90%;
  height: 10vh;
  border: 2px solid black;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: center;
}

.interests {
  width: 90%;
  height: 30vh;
  border: 2px solid black;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: left;
  padding: 5px;
  display: inline-block;
}

/* mobile accessibility */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 1000px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 5px;
    }
    
    .one { grid-area: 1 / 1 / 2 / 2; }
    .two { grid-area: 2 / 1 / 3 / 2; }
    .three { grid-area: 3 / 1 / 4 / 2; }
    .four { grid-area: 4 / 1 / 5 / 2; } 
    
    .grid-container > div {
      min-width: 20vh;
      max-height: 70vh;
}
    
    .winamp-container {display: none;}
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* win 95 scrollbar - only visible on chrome or safari */
$win95-ui-main-color: #c3c7cb;
$win95-ui-highlight-color: white;
$win95-ui-inner-shadow-color: #868a8e;
$win95-ui-outer-shadow-color: black;

$win95-img-up-arrow: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGklEQVR4AWMYxuA/SYphmETFhDX9x4mHGQAAcL4P8dQiMq8AAAAASUVORK5CYII=';
$win95-img-down-arrow: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAF0lEQVQY02NgoBf4jwJxSOHQhcNAOgMAWWAP8Rv2U3UAAAAASUVORK5CYII=';
$win95-img-left-arrow: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAHklEQVQY02NgoBT8xyX8H5fwf1zCpOjAYwceV1EEAAO2D/HsQ4vsAAAAAElFTkSuQmCC';
$win95-img-right-arrow: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAHUlEQVQY02NgIB/8xy3xH7fEf9wS/0nUQZqrKAYAK44P8ZRmzLQAAAAASUVORK5CYII=';
$win95-img-scrollbar-bg: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAIAAAD91JpzAAAAFElEQVQIW2M4fPz0////GYAYyAIASnoKpV3w4kgAAAAASUVORK5CYII=';
$win95-img-scrollbar-bg-active: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAIAAAD91JpzAAAAEElEQVQIW2No6+pjgAAgCwAWogM9VKrgGQAAAABJRU5ErkJggg==';
$win95-img-resizer: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAN0lEQVR4Ae3MgQUAMBRDwU5fFF05lb/CARTBw2Ulof0DxPtcwp3hNuEYnjbcEW4TjuFpwx3h9gMWGgZ2Y/PT2gAAAABJRU5ErkJggg==';

@mixin win95-well-border {
  border-top: 1px solid $win95-ui-outer-shadow-color;
  border-left: 1px solid $win95-ui-outer-shadow-color;
  border-right: 1px solid $win95-ui-main-color;
  border-bottom: 1px solid $win95-ui-main-color;
  box-shadow: -1px -1px 0 $win95-ui-inner-shadow-color, -1px 0 0 $win95-ui-inner-shadow-color, 0 -1px 0 0 $win95-ui-inner-shadow-color, 1px 0 0 $win95-ui-highlight-color, 1px 1px 0 $win95-ui-highlight-color, 0 1px 0 $win95-ui-highlight-color;
}

@mixin win95-emboss-border {
  border-top: 1px solid $win95-ui-main-color;
  border-left: 1px solid $win95-ui-main-color;
  border-right: 1px solid $win95-ui-outer-shadow-color;
  border-bottom: 1px solid $win95-ui-outer-shadow-color;
  box-shadow: inset 1px 1px 0 0 $win95-ui-highlight-color, inset -1px -1px 0 0 $win95-ui-inner-shadow-color;
}

@mixin win95-depressed-border {
  border-top: 1px solid $win95-ui-outer-shadow-color;
  border-left: 1px solid $win95-ui-outer-shadow-color;
  border-bottom: 1px solid $win95-ui-inner-shadow-color;
  border-right: 1px solid $win95-ui-inner-shadow-color;
  box-shadow: inset 1px 1px 0 0 $win95-ui-inner-shadow-color, 1px 1px 0 0 $win95-ui-outer-shadow-color, 1px 0 0 0 $win95-ui-outer-shadow-color, 0 1px 0 0 $win95-ui-outer-shadow-color;
}

body {
  background-color: $win95-ui-main-color;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.frame {
  @include win95-well-border;

  width: 400px;
  height: 150px;
  overflow: auto;
  margin-bottom: 8px;
  background-color: white;
  padding: 8px;
}

.content {
  width: 600px;
  
  p:first-child {
    margin-top: 0;
  }
  
  p:last-child {
    margin-bottom: 0;
  }
}

textarea {
  @include win95-well-border;

  width: 400px;
  height: 150px;
  padding: 8px;
  
  &:focus {
    outline: none;
  }
}

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-track {
  background-image: url($win95-img-scrollbar-bg);
  image-rendering: pixelated;

  &:active {
    background-image: url($win95-img-scrollbar-bg-active);
  }
}

::-webkit-scrollbar-thumb {
  @include win95-emboss-border;

  width: 16px;
  height: 16px;
  background-color: $win95-ui-main-color;
  z-index: 1;
}

::-webkit-scrollbar-corner {
  background-color: $win95-ui-main-color;
}

::-webkit-resizer {
  width: 16px;
  height: 16px;
  background-color: $win95-ui-main-color;
  background-image: url($win95-img-resizer);
  background-position: bottom right;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-button {
  @include win95-emboss-border;

  display: block;
  width: 16px;
  height: 16px;
  background-color: $win95-ui-main-color;
  image-rendering: pixelated;
  background-repeat: no-repeat;
  background-position: center center;

  &:active {
    background-position: 2px 2px;
  }

  &:horizontal:decrement {
    background-image: url($win95-img-left-arrow);
  }

  &:horizontal:increment {
    background-image: url($win95-img-right-arrow);
  }

  &:vertical:decrement {
    background-image: url($win95-img-up-arrow);
  }

  &:vertical:increment {
    background-image: url($win95-img-down-arrow);
  }

  &:horizontal:increment:start { display: none; }
  &:horizontal:decrement:end { display: none; }
  &:vertical:increment:start { display: none; }
  &:vertical:decrement:end { display: none; }

  &:active {
    border-top: 1px solid $win95-ui-inner-shadow-color;
    border-left: 1px solid $win95-ui-inner-shadow-color;
    border-bottom: 1px solid $win95-ui-inner-shadow-color;
    border-right: 1px solid $win95-ui-inner-shadow-color;
    box-shadow: none;
  }
}
/* end scrollbar */