body {
    background-color: black;
    color: white;
}

article {
    margin: auto;
    width: 90vw;
    text-align: center;
    vertical-align: middle;
}

p {
   font-family: handwriting;
   font-size: 13px;
}

h1, h2, h3 {
    font-family: flipside;
}

 @font-face {
  font-family: handwriting;
  src: url(../fonts/handwriting.otf);
 }

 @font-face {
  font-family: flipside;
  src: url(../fonts/flipside.ttf)
}