body {
    background-color: black;
    color: white;
}

.center {
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  height: 100vh; /* or any height you need */

}

article {
    margin: auto;
    width: 90vw;
    text-align: center;
    vertical-align: middle;
}

p {
   font-family: handwriting;
   font-size: 15px;
}

.important {
    color: orangered;
}

a {
    color:cadetblue
}

h1, h2, h3 {
    font-family: flipside;
}

 @font-face {
  font-family: handwriting;
  src: url(../fonts/handwriting.otf);
 }

 @font-face {
  font-family: flipside;
  src: url(../fonts/flipside.ttf)
}